<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="../components/headTag::headTag"></head>
	
	<footer
	   class="bg-dark">
	   <!-- Copyright -->
	   <div class="text-white mt-4 mb-4">
	     E-vagas© 2025. Todos os direitos reservados.
	<!--   </div>
		    <div>
	     <a href="#!" class="text-white me-4">
	       <i class="fab fa-facebook-f"></i>
	     </a>
	     <a href="#!" class="text-white me-4">
	       <i class="fab fa-twitter"></i>
	     </a>
	     <a href="#!" class="text-white me-4">
	       <i class="fab fa-google"></i>
	     </a>
	     <a href="#!" class="text-white">
	       <i class="fab fa-linkedin-in"></i>
	     </a>
	   </div>-->
	 </footer>
	
</html>

