<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<nav th:fragment="navBar" class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky fixed-top">

  <div class="container-fluid">
	<div class="navbar-brand">
			<img src="../assets/logo.png" style="display:block; height:40px"/>
	</div>
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li sec:authorize="hasAuthority('CANDIDATO')" class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/vagas}">Vagas</a>
	        </li>
	        <li sec:authorize="hasAuthority('RECRUTADOR')" class="nav-item">
	          <a class="nav-link" th:href="@{/recrutador}">Área do Recrutador</a>
	        </li>
	      </ul>
	    </div>
	<div>
		<div sec:authorize="!isAuthenticated()" style="color: white;">

			<a type="button" class="btn btn-primary" href="/login">Login</a>
			
			<a type="button" class="btn btn-secondary" href="/login/cadastro-form">Registrar-se</a>
		</div>
		
		
		<div sec:authorize="isAuthenticated()" style="color: white;">
			<a type="button" class="btn btn-danger" th:href="@{/logout}">Sair</a>
		</div>
		
	</div>
  </div>
 
</nav>
	
</html>